clone_name = "alpine"
instance_cores = "1"
instance_disk_size = "30G"
instance_memory = "2096"
instance_sockets = "1"
instance_storage_name = "vmdata"
instance_storage_type = "dir"
master_count = "3"
private_key_path = "~/.ssh/id_rsa"
proxmox_node_name = "proxmox01"
proxmox_url = "https://localhost:8006/api2/json"
proxmox_user = "root@pam"
ssh_key = "ssh-rsa AAAA... user@host"
worker_count = "3"
